<% provide :title, t("log_in") %>
<div class="center jumbotron">
  <h1><%= t "log_in" %></h1>
  <h2>
  <%= t "intro_log_in1" %>
  <%= link_to t("rails_tutorial"), "http://www.railstutorial.org/" %>
  <%= t "intro_log_in2" %>
  </h2>
</div>
