<% provide :title, t("log_up") %>
<div class="center jumbotron">
  <h1><%= t "log_up" %></h1>
  <h2>
  <%= t "intro_log_up1" %>
  <%= link_to t("rails_tutorial"), "http://www.railstutorial.org/" %>
  <%= t "intro_log_up2" %>
  </h2>
</div>
