<% provide :title,  t(".all_user") %>
<div class="container">
  <h1 class="text-center"><%= t ".all_user" %></h1>
  <%== pagy_nav(@pagy) %>
  <ul class="users">
    <%= render @users %>
  </ul>
  <%== pagy_nav(@pagy) %>
</div>
