 @import 'bootstrap';
/* universal */
body {
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom:10px;
  color: #dc3545;
}
/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  // color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
nav{
  width: 100%;
}
#logo:hover {
  color: #dc3545;
  text-decoration: none;
}

/* footer */
#contact>a{
  margin-right: 10px;
}
