<footer>
  <div class="container">
    <div class="card-footer">
      <div class="row">
        <div class="col">
          <%= link_to t("rails_tutorial"), Settings.rails.host %>
        </div>
        <div id="contact" class="col text-center">
          <%= link_to t("about"), "#" %>
          <%= link_to t("contact"), "#" %>
          <%= link_to t("new"), "#" %>
        </div>
      </div>
    </div>
  </div>
</footer>
